
/*-----------------------------------------------------------------*\
   For main page wrapping and media width control. Also formats side
   navigation and top navigation.

   Code adapted from:
   Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
   Code licensed under the Apache License v2.0.
\*-----------------------------------------------------------------*/

#wrapper {
    width: 100%;
}

#cont {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
    width: 70%;
}

@media (min-width: 768px) {
    #cont {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


/*-----------------------------------------------------------------*\
   Open access additions. Using colours featured in the mood board
\*-----------------------------------------------------------------*/

.sidebar a {
    color: #003300
}

.sidebar a:hover {
    color: #604848;
}

.navbar #topbar a {
    color: #F0F0D8;
}

.navbar-default #topbar > li > a:hover, .navbar-default #topbar > li > a:focus {
    background-color: #F0F0D8;
    color: #604848;
}

.navbar-default #topbar .dropdown a:hover, .navbar-default #topbar .dropdown a:focus {
    background-color: #F0F0D8;
    color: #604848;
}

.navbar #topbar .dropdown .dropdown-menu a {
    color: #604848;
}

.navbar {
    background-color: #607848;
}

.tag{
    background-color: #607848;
    color: #F0F0D8;
    padding: 2px;
    border-radius: 5px;
}

