{% extends 'page.twig' %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load. NB you don't need <script></script> tags  here #}
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
        <h1>About Newcastle University Open Access</h1>
    </div>
{% endblock header %}

{% block main %}
    <section>
        <p>
            Open access gives anyone free access to research publications.  On this site you can view and/or download documents, data, applications and more.

            Newcastle University staff are able to login and upload publications for anyone to view and/or download.

        </p>
    </section>
{% endblock main %}

{% block footer %}
    <article class="col-md-12">
        <p class="center-block">Copyright Newcastle University 2015</p>
    </article>
{% endblock footer %}
