{% extends 'page.twig' %}

{% block onload %}

{% endblock onload %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Home</h1>
    </div>
{% endblock header %}

{% block main %}
    <section>
        <p>
            Welcome to the Newcastle University Open Access portal.  Here you can access free publication material.
        </p>
    </section>
{% endblock main %}

{% block footer %}
    <div class="col-md-12">
        <p class="cntr">Copyright Newcastle University 2015</p>
    </div>
{% endblock footer %}



