    <div class="navbar navbar-default">
        <div class="container-fluid" id="topbar">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ base }}/"><img
                            src="{{ assets }}/images/unilogo.png" alt="Open Access Logo" height="32"/></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                        <li{{page == 'home' ? ' class="active"'}}><a href="{{base}}/">Home</a></li>
                        <li{{page == 'about' ? ' class="active"'}}><a href="{{base}}/about">About</a></li>
                        {% if context.hasadmin %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{base}}/admin/pages">Pages</a></li>
                                    <li><a href="{{base}}/admin/users">Users</a></li>
                                    <li><a href="{{base}}/admin/contexts">Contexts</a></li>
                                    <li><a href="{{base}}/admin/roles">Roles</a></li>
                                    <li><a href="{{base}}/admin/info">PHP Info</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if context.hasdeveloper %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developer<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{base}}/devel/hack">Run Code</a></li>
                                    <li><a href="{{base}}/devel/fail">Fail</a></li>
                                    <li><a href="{{base}}/devel/throw">Throw</a></li>
                                    <li><a href="{{base}}/devel/mail">Test mail</a></li>
                                </ul>
                            </li>
                        {% endif %}
                </ul>
                {% if context.hasuser %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if context.hasuploader %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-upload fa-fw"></i> Upload</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ base }}/upload/{{ document }}">Document</a></li>
                                    <li><a href="{{ base }}/upload/{{ data }}">Data</a></li>
                                    <li><a href="{{ base }}/upload/{{ source }}">Source Code</a></li>
                                    <li><a href="{{ base }}/upload/{{ app }}">Apps</a></li>
                                    <li><a href="{{ base }}/upload/{{ image }}">Image</a></li>
                                    <li><a href="{{ base }}/upload/{{ video }}">Video</a></li>

                                </ul>
                            </li>
                        {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                {% if context.hasuploader %}
                                    <li><a href="{{ base }}/publications/myuploads"><i class="fa fa-upload fa-fw"></i> My Uploads</a></li>
                                {% endif %}
                                <li><a href="{{ base }}/logout"><i class="fa fa-power-off fa-fw"></i> Logout</a>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ base }}/login"><i class="fa fa-user fa-fw"></i> Login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <form action="{{ base }}/publications/search" method="get" enctype="multipart/form-data">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" name="search" placeholder="Search tags"/>
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                            </span>
                            </div>
                        </form>

                    </li>
                    <li>
                        <a href="{{ base }}/publications/{{ document }}"><i class="fa  fa-file-text-o fa-fw"></i> Documents</a>
                    </li>
                    <li>
                        <a href="{{ base }}/publications/{{ data }}"><i class="fa fa-database fa-fw"></i> Data</a>
                    </li>
                    <li>
                        <a href="{{ base }}/publications/{{ source }}"><i class="fa fa-code-fork fa-fw"></i> Source Code</a>
                    </li>
                    <li>
                        <a href="{{ base }}/publications/{{ app }}"><i class="fa fa-mobile fa-fw"></i> Apps</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-image-o fa-fw"></i> Media<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ base }}/publications/{{ image }}"><i class="fa fa-picture-o fa-fw"></i> Images</a>
                            </li>
                            <li>
                                <a href="{{ base }}/publications/{{ video }}"><i class="fa fa-video-camera fa-fw"></i> Videos</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
