{% if context.hasmoderator or ((context.user().id == pub.uploader())) %}
    <br/><br/>
    <a href="#"><button class="bg-danger delb"  data-id="{{pub.id}}">Delete Publication</button></a>
    <a href="{{ base }}/upload/edit/{{ pub.id }}"><button class="bg-success">Edit Publication</button></a>
{% endif %}
{% if context.hasmoderator %}
    <p><strong>Uploader id:</strong> {{ pub.uploader() }}</p>
{% endif %}

