{% extends 'publications/pubsbase.twig' %}

{% block header %}
    <div class="col-md-12">
        <h1 class="cntr">My Uploads</h1>
        <hr/>
    </div>
{% endblock header %}

{% block main %}
    {% for pub in pubs %}
        {% include 'publications/publist.twig' %}
    {% endfor %}
{% endblock main %}


