<p><strong>Upload Date:</strong> {{ pub.time() }}</p>
{% for author in pub.authors() %}
    <p><strong>Author Name:</strong> {{ author.fullname() }}</p>
    <p><strong>Author Email:</strong> {{ author.email() }}</p>
{% endfor %}
<p><strong>Description:</strong> {{ pub.description() }}</p>
<p><strong>Licencing:</strong> {{ pub.licencing() }}</p>
{% if pub.file() %}
    <p><strong>File Name:</strong>: {{ pub.file().filename() }}</p>
    <p><strong>File Size:</strong>: {{ pub.file().filesize() }}</p>
    {% if pub.type == video %}
        <video width="90%" height="500" controls>
            <source src="{{ base }}{{ pub.file().filepath() }}" type="video/mp4">
            There is a problem displaying this video
        </video>
    {% endif %}
    {% if pub.type == image %}
        <img src="{{ base }}{{ pub.file().filepath() }}" alt="Image preview" width="50%"/>
    {% endif %}
    {% if pub.type == document %}
        <object data="{{ base }}{{ pub.file().filepath() }}" type="application/pdf" width="90%" height="600">
            alt : <a href="{{ base }}{{ pub.file().filepath() }}">test.pdf</a>
        </object>
    {% endif %}
    <div>
        <a href="{{ base }}/publication/download/{{ pub.id }}">
            <button>Download!</button>
        </a>
    </div>
{% endif %}

{% if pub.url() %}
    <a href="{{ pub.url() }}">
        <button>Click here to view the publication</button>
    </a>
{% endif %}
<br/>
<br/>
{% for tag in pub.tags() %}
    <span class="tag">#{{ tag.name() }}</span>
{% endfor %}

{% include 'publications/modoptions.twig' %}