{% extends 'publications/pubsbase.twig' %}

{% block header %}
    <div class="col-md-12">
        <h1 class="cntr">{{ title }}</h1>
        <hr/>
    </div>
{% endblock header %}

{% block main %}

    {% include 'paginate.twig' %}

    {% for pub in siteinfo.publications(type,'order by time desc', page, pagesize) %}

        {% include 'publications/publist.twig' %}

    {% endfor %}

    {% include 'paginate.twig' %}

{% endblock main %}


