<div>
    <a href="{{ base }}/publication/{{ pub.id }}">Details</a>

    <p><strong>Title:</strong> {{ pub.title() }}</p>

    <p><strong>Upload Date:</strong> {{ pub.time() }}</p>
    <br/>
    {% for tag in pub.tags() %}
        <span class="tag">#{{ tag.name() }}</span>
    {% endfor %}

    {% include 'publications/modoptions.twig' %}
    <hr/>
</div>