{% extends 'publications/pubsbase.twig' %}

{% block header %}
    <div class="col-md-12">
        <h1 class="cntr">{{ pub.title() }}</h1>
        <hr/>
    </div>
{% endblock header %}

{% block main %}

    {% include 'publications/pubdetails.twig' %}

{% endblock main %}


