{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
        <h1 class="cntr">{{ title }}</h1>
        <hr/>
    </div>
{% endblock header %}

{#Associated file for publication is not deleted here incase admin would like to restore file. #}
{#A routine server script should be run by admin to remove orphaned files from system #}
{% block onload %}
    $('.delb').on('click', function(e){
        var x = $(e.target)
        e.preventDefault();
        e.stopPropagation();
        bootbox.confirm('Are you sure you you want to delete this publication?', function(r){
        if (r)
        { // user picked OK
            di = $(x).parent().parent()
            $.post('{{base}}/ajax.php', {
                op :'delbean',
                'bean' : 'publication',
                id : x.data('id')
            },
            function(data){
            di.css('background-color', '#F0F0D8').fadeOut(1500, function(){ di.remove() })
            }
            )
            }
        })
    })
{% endblock onload %}

{% block main %}

{% endblock main %}
