{% extends 'publications/pubsbase.twig' %}

{% block header %}
    <div class="col-md-12">
        <h1 class="cntr">{{ title }}</h1>
        <hr/>
    </div>
{% endblock header %}

{% block main %}
    {% if pubs %}
        {% for pub in pubs %}
            {% include 'publications/publist.twig' %}
        {% endfor %}
    {% else %}
        <p class="bg-danger">Sorry no results could be found</p>
    {% endif %}
{% endblock main %}


