{% extends 'uploads/uploadbase.twig' %}

{% block header %}
    <div class="col-md-12">
        <h1>{{ title }}</h1>
        <hr/>
    </div>
{% endblock header %}

{% block main %}
    {% include 'message.twig' %}
    {% if context.hasmoderator or ((context.user().id == pub.uploader())) %}
        <form action="{{ base }}/upload/edit/{{ pub.id }}" method="post" enctype="multipart/form-data"
              data-parsley-validate>
            {% include 'uploads/editform.twig' %}
        </form>
    {% endif %}
{% endblock main %}




