{% import 'form.twig' as form %}

<fieldset>
    {{ form.text({id : 'title', name : 'title', required : 'required',label : 'Title',value : pub.title()}) }}

    {{ form.textarea({id : 'description', name : 'description', required : 'required', label : 'Description',
        'data-parsley-maxlength' : '200', value : pub.description()}) }}

    {{ form.text({id : 'licencing', name : 'licencing', required : 'required', label : 'Licencing', value : pub.licencing()}) }}
</fieldset>

<fieldset>
    <legend>Author Information</legend>
    {% for author in pub.authors() %}
        <div class='row'>
            <div class='col-sm-4'>
                {{ form.text({id : 'firstname', name : 'firstname', required : 'required', label : 'First Name', value : author.firstname()}) }}
            </div>
            <div class='col-sm-4'>
                {{ form.text({id : 'lastname', name : 'lastname', required : 'required', label : 'Last Name', value : author.lastname()}) }}
            </div>
            <div class='col-sm-4'>
                {{ form.email({id : 'email', name : 'email', required : 'required',label : 'Email', value : author.email()}) }}
            </div>
        </div>
    {% endfor %}
</fieldset>

<fieldset>
    <legend>Upload</legend>
    <div class="form-group">
        <label for="tags">Tags</label>
        <textarea id="tags" name="tags" class="form-control" placeholder="#tag" data-parsley-maxlength="200"
                  data-parsley-tags="tag">
            {% for tag in pub.tags() %}#{{ tag.name() }}{% endfor %}
        </textarea>
    </div>

    {{ form.submit({value : 'Make Changes!'}) }}
</fieldset>