{% import 'form.twig' as form %}

<fieldset>
    {% if canfupload %}
        <div class="form-group">
            <label for="uploadtype">Upload a file?</label>
            <input id='uploadtype' type="checkbox" name="uploadtype" value="file" checked="checked"/>
        </div>
    {% endif %}
    <div id="fileupload">
        {% if canfupload %}
            {{ form.file({id : 'uploadfile', name : 'uploadfile', label : 'Select video to upload',required : 'required'}) }}
        {% else %}
            {{ form.file({id : 'uploadfile', name : 'uploadfile', label : 'Select video to upload'}) }}
        {% endif %}
    </div>

    <div id="linkupload">
        {{ form.text({id : 'link', name : 'link',label : 'Provide a link','data-parsley-type' : 'url'}) }}
    </div>

    {{ form.text({id : 'title', name : 'title', required : 'required',label : 'Title'}) }}

    {{ form.textarea({id : 'description', name : 'description', required : 'required', label : 'Description',
        'data-parsley-maxlength' : '200'}) }}

    {{ form.text({id : 'licencing', name : 'licencing', required : 'required', label : 'Licencing'}) }}
</fieldset>

<fieldset>
    <legend>Author Information</legend>
    <div class='row'>
        <div class='col-sm-4'>
            {{ form.text({id : 'firstname', name : 'firstname', required : 'required', label : 'First Name'}) }}
        </div>
        <div class='col-sm-4'>
            {{ form.text({id : 'lastname', name : 'lastname', required : 'required', label : 'Last Name'}) }}
        </div>
        <div class='col-sm-4'>
            {{ form.email({id : 'email', name : 'email', required : 'required',label : 'Email'}) }}
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Upload</legend>
    {{ form.textarea({id : 'tags', name : 'tags', label : 'Tags',ph : '#tag',
        'data-parsley-maxlength' : '200','data-parsley-tags' : 'tag'}) }}

    {{ form.submit({value : 'Upload'}) }}
</fieldset>