{% extends 'page.twig' %}


{% block css %}
    <!--All tag client css is taken from: https://github.com/lookapanda/jquery-hashtags.git -->
    <link href="{{ assets }}/css/jquery.hashtags.css" media="all" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block scripts %}
    <!--All tag client functionality is taken from: https://github.com/lookapanda/jquery-hashtags.git -->
    <!--The following are taken from: https://github.com/lookapanda/jquery-hashtags.git-->
    <script src="{{ assets }}/js/autosize.min.js" type="text/javascript"></script>
    <script src="{{ assets }}/js/jquery.hashtags.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.1.2/parsley.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.1.2/parsley.remote.min.js"></script>

{% endblock scripts %}


{% block header %}
{% endblock header %}


{% block onload %}
    $("#tags").hashtags(); //Create hashtag visuals

    //Validate hashtags
    window.ParsleyValidator.addValidator('tags',
    function(value,requirement){
        pattern = new RegExp("#[a-zA-Z]+");
        tags = value.trim().replace(/\s+/g, ' ').split(' ');
        console.log(tags);
        passed = true;
        for (i=0; i < tags.length; i++)
        {
            if(!pattern.test(tags[i]))
            {
                passed = false;
            }
        }
        return passed;

    } , 32).addMessage('en', 'tags', 'The tags should have a # in them and only use letters. For example #Tag');

    $('#linkupload').hide();

    function makeswitch(obj)
    {
        if (obj.is(":checked"))
        {
            $("#uploadfile").attr("required", "required");
            $("#fileupload").show(speed);
            $("#linkupload").hide(speed);
            $("#link").removeAttr("required");
            $("#linkupload").find('input').val("");
        }
        else
        {
            $("#uploadfile").removeAttr("required");
            $("#fileupload").find('input').val("");
            $("#fileupload").hide(speed);
            $("#linkupload").show(speed);
            $("#link").attr("required", "required");
        }
    }

    makeswitch($('#uploadtype'));

    var speed = 200;
    $('#uploadtype').change(function()
    {
        makeswitch($(this))
    });
{% endblock onload %}

{% block main %}

{% endblock main %}
