{% extends 'uploads/uploadbase.twig' %}

{% block header %}
    <div class="col-md-12">
        <h1>{{ title }}</h1>
        <hr/>
    </div>
{% endblock header %}

{% block main %}

    {% include 'message.twig' %}
    {% if context.hasuploader %}
        <form action="{{ base }}/upload/{{ uploadtype }}" method="post" enctype="multipart/form-data"
              data-parsley-validate>
            {% include 'uploads/uploadform.twig' %}
        </form>
    {% endif %}

{% endblock main %}




